* {
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
}

/*.parent {
    height: 90vh;
    width: 90%; 
    border: 1px solid red;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.enfant {
    height: 100px; ;
    width: 100px;
    background-color: green;

}*/

.parent {
    position: relative;
}

.box {
    height: 80px;
    width: 80px;
    background-color: blue;
    border-radius: 50%;
}

.box,
#checkbox {
    position: absolute;
    top: 0;
    left: 0;
}

#checkbox:checked ~ .box{
    background: red;
}



